google-places:
  api-key: ${GOOGLE_API_KEY}
  base-url: https://places.googleapis.com

spring:
    threads:
      virtual:
        enabled: true
    data:
      redis:
        host: localhost
        port: 6379
    cache:
      type: redis